
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>员工信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../assets/css/layui.css"  media="all">
    <script type="text/javascript" src="../js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="../js/area.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/area.css" />
</head>
<body>
<DIV style="margin-top: 50px;margin-left: 20%" width="50%">
    <form class="layui-form" action="" lay-filter="example">

        <div class="layui-form-item">
            <input type="text" name="id" id="id" style="display:none;" />
            <div class="layui-inline">
                <label class="layui-form-label">员工名:</label>
                <div class="layui-input-inline">

                    <input type="text" name="ename" id="ename" lay-verify="required" lay-reqtext="员工名是必填项，岂能为空？"
                           placeholder="请输入员工名" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">职位:</label>
                <div class="layui-input-inline">
                    <input type="text" name="position" id="position" lay-verify="required"
                           placeholder="请输入所任职位" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">工资:</label>
                <div class="layui-input-inline">
                    <input type="text" name="wage" id="wage" lay-verify="required"
                           placeholder="请输入工资" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">发工资时间:</label>
                <div class="layui-input-inline">
                    <input name="enddate" class="layui-input" id="enddate" type="text" placeholder="请选择发工资时间" autocomplete="off" lay-verify="date">
                </div>
            </div>
        </div>
            <div class="layui-form-item">
                <label class="layui-form-label">结算状态</label>
                <div class="layui-input-inline">
                    <select name="wstatus" id="wstatus">
                        <option value="-1">请选择结算状态</option>
                        <option value="1">已发</option>
                        <option value="0">未发</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item" width="30px">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="btn-readly">确认</button>
                    <button type="reset" class="layui-btn layui-btn-primary">取消</button>
                </div>
            </div>

    </form>
</DIV>
</body>
<script  type="text/javascript" src="../assets/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="../js/jquery.min.js" ></script>
<script type="text/javascript" src="../js/common.js" ></script>
<script type="text/javascript" src="../js/commons.js" ></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,laydate = layui.laydate;
        const $ = layui.jquery;

        //常规用法
        laydate.render({
            elem: '#enddate'
        });
        form.on('submit(btn-readly)', function(data){
            console.log(data.field.id)
            if(data.field.id===""||data.field.id===null){
                $.ajax({
                    url: "/shy_war/app/account/addAccount.action"
                    , type: "post"
                    , data:data.field
                    , dataType: "json"
                    , success: function (data) {
                        if(data.msg=='OK'){

                            if(data.msg=='OK')
                            {
                                alert(data.msg+"：添加成功");
                                window.parent.location.reload();
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                            }else{
                                layer.alert(data.msg+"：添加失败");
                            }

                        }

                    }
                });
            }else{
                $.ajax({
                    url: "/shy_war/app/account/upAccount.action"  //API接口
                    , type: "post"
                    , data:data.field  //修改后的数据
                    , dataType: "json"
                    , success: function (data) {
                        if(data.msg=='OK')
                        {
                            alert(data.msg+"：更新成功");
                            window.parent.location.reload();
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        }else{
                            alert(data.msg+"：更新失败");
                        }
                    }
                });
            }
            return false;
        });

    });

</script>

</html>
