

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>通讯录</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/template.css" media="all">
</head>
<body>


<div class="layui-fluid layadmin-maillist-fluid">
  <div class="layui-row layui-col-space15" id="demo0">
  </div>
</div>
<script src="../assets/layui.all.js"></script>
<script type="text/javascript" src="../js/jquery.min.js" ></script>
<script type="text/javascript" src="../js/common.js" ></script>
<script>
  $.ajax({
    url: "/shy_war/shy_war/app/clientinf/getClientAll.action"  //API接口
    , type: "post"
    , data:"" //修改后的数据
    , dataType: "json"
    , success: function (data) {
      var t="";
      for(var p in data.data){//遍历json数组时，这么写p为索引，0,1
        t +="<div class=\"layui-col-md4 layui-col-sm6\">\n" +
        "                <div class=\"layadmin-contact-box\" >\n" +
        "                <div class=\"layui-col-md4 layui-col-sm6\">\n" +
        "                <a href=\"javascript:;\">\n" +
        "                <div class=\"layadmin-text-center\">\n" +
        "                <img src=\"../../layuiadmin/style/res/template/character.jpg\">\n" +
        "                <div class=\"layadmin-maillist-img layadmin-font-blod\">客户</div>\n" +
        "                </div>\n" +
        "                </a>\n" +
        "                </div>\n" +
        "                <div class=\"layui-col-md8 layadmin-padding-left20 layui-col-sm6\">\n" +
        "                <a href=\"javascript:;\">\n" +
        "                <h3 class=\"layadmin-title\">\n" +
        "                <strong>"+data.data[p].cname+"</strong>\n" +
        "                </h3>\n" +
        "                <p class=\"layadmin-textimg\">\n" +
        "                <i class=\"layui-icon layui-icon-location\"></i>\n" +
        "        "+data.data[p].endaddress+"\n" +
        "        </p>\n" +
        "        </a>\n" +
        "        <div class=\"layadmin-address\">\n" +
        "                <a href=\"javascript:;\">\n"  +
        "        <br>\n" +
        "        <addr title=\"phone\">phone:</addr>\n" +
        "        "+data.data[p].cphone+"\n" +
        "        </a>\n" +
        "        </div>\n" +
        "        </div>\n" +
        "        </div>\n" +
        "        </div>\n" +
        "        \n" +
        "        \n" +
        "        "
      }
      $('#demo0').html(t);
    }
  });

</script>
  <script src="../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index']);
  </script>

</body>
</html>