 <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/css/layui.css">
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <title></title>
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-row layui-col-space20">
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-body chart-card">
                        <div class="chart-header">
                            <div class="metawrap">
                                <div class="meta">
                                    <span>客户数</span>
                                </div>
                                <div class="total">126,560</div>
                            </div>
                        </div>
                        <div class="chart-body">
                            <div class="contentwrap">
                                （单位:个）
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-body chart-card">
                        <div class="chart-header">
                            <div class="metawrap">
                                <div class="meta">
                                    <span>本月已结算额</span>
                                </div>
                                <div class="total">126,560</div>
                            </div>
                        </div>
                        <div class="chart-body">
                            <div class="contentwrap">
                                (单位:元)
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-body chart-card">
                        <div class="chart-header">
                            <div class="metawrap">
                                <div class="meta">
                                    <span>未结算额</span>
                                </div>
                                <div class="total">126,560</div>
                            </div>
                        </div>
                        <div class="chart-body">
                            <div class="contentwrap">
                                (单位:元)
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-body chart-card">
                        <div class="chart-header">
                            <div class="metawrap">
                                <div class="meta">
                                    <span>全部欠款</span>
                                </div>
                                <div class="total">126,560</div>
                            </div>
                        </div>
                        <div class="chart-body">
                            <div class="contentwrap">
                                (单位:元)
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="layui-col-sm12 layui-col-md12">
                <div class="layui-card">
                    <div class="layui-tab layui-tab-brief">
                        <ul class="layui-tab-title">
                            <li class="layui-this">材料费用支出</li>
                            <li>员工假期</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                12860
                            </div>
                            <div class="layui-tab-item">
                                <div class="layui-row layui-col-space15">
                                    <div class="layui-col-md7">
                                        <div class="layui-card">
                                            <div class="layui-card-body">
                                                <table class="layui-table" id="holiday" lay-filter="holiday"></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/layui.all.js"></script>
    <script type="text/javascript" src="../js/jquery.min.js" ></script>
    <script type="text/javascript" src="../js/common.js" ></script>
    <script>
        layui.use('table', function(){
            var table = layui.table;
            table.render({
                elem: '#holiday'
                ,url:''
                ,toolbar: '#toolbarDemo'
                ,title: '假期列表'
                ,text:'无数据'
                ,totalRow: true
                ,defaultToolbar: ['filter','print','exports']
                ,id:'holiday'
                ,cols: [[
                    {field:'id', title:'ID', width:80, sort: true}
                    ,{field:'ename', title:'员工名', width:90, edit: 'text'}
                    ,{field:'position', title:'职位', width:90, edit: 'text'}
                    ,{field:'holiday', title:'假期', width:100, sort: true}
                    ,{field:'cdate', title:'开始时间',width:150,sort: true}
                    ,{field:'cdate', title:'结束时间',width:150,sort: true}
                ]]
                ,page: true
                , data: [{
                    "id": "10001"
                    ,"mname": "钢铁"
                    ,"mdata": "2019-8-1"
                    ,"price": 2
                    ,"number":36
                    ,"total":72
                    ,"status": "已收货"
                    ,"master": "管理员"
                }, {
                    "id": "10002"
                    ,"mname": "钢铁"
                    ,"mdata": "2019-8-1"
                    ,"price": 2
                    ,"number":36
                    ,"total":72
                    ,"status": "已收货"
                    ,"master": "管理员"
                }, {
                    "id": "10003"
                    ,"mname": "钢铁"
                    ,"mdata": "2019-8-1"
                    ,"price": 2
                    ,"number":36
                    ,"total":72
                    ,"status": "已收货"
                    ,"master": "管理员"
                }, {
                    "id": "10004"
                    ,"mname": "钢铁"
                    ,"mdata": "2019-8-1"
                    ,"price": 2
                    ,"number":36
                    ,"total":72
                    ,"status": "已收货"
                    ,"master": "管理员"
                }, {
                    "id": "10005"
                    ,"mname": "钢铁"
                    ,"mdata": "2019-8-1"
                    ,"price": 2
                    ,"number":36
                    ,"total":72
                    ,"status": "已收货"
                    ,"master": "管理员"
                }, {
                    "id": "10006"
                    ,"mname": "钢铁"
                    ,"mdata": "2019-8-1"
                    ,"price": 2
                    ,"number":36
                    ,"total":72
                    ,"status": "已收货"
                    ,"master": "管理员"
                }, {
                    "id": "10007"
                    ,"mname": "钢铁"
                    ,"mdata": "2019-8-1"
                    ,"price": 2
                    ,"number":36
                    ,"total":72
                    ,"status": "已收货"
                    ,"master": "管理员"
                }, {
                    "id": "10008"
                    ,"mname": "钢铁"
                    ,"mdata": "2019-8-1"
                    ,"price": 2
                    ,"number":36
                    ,"total":72
                    ,"status": "已收货"
                    ,"master": "管理员"
                }]
            });
        });
    </script>
    <script>
     var element = layui.element;
    </script>
</body>
</html>