<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>公司员工</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../assets/css/layui.css"  media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<div style="margin-top: 10px; margin-left: 10px" class="layui-form">
    <div class="layui-form-item" >
        <div class="layui-inline" >
            <div class="layui-input-inline">
                <input type="text" name="ename" id="ename" lay-verify="required" lay-reqtext="用户名是必填项，岂能为空？"
                       placeholder="请输入员工名" autocomplete="off" class="layui-input">
            </div>
            <button class="layui-btn" id="btn-search">搜索</button>
            <button class="layui-btn layui-btn-normal" id="add">新增</button>
        </div>
    </div>
</div>
<table class="layui-table" id="employees" lay-filter="employees"></table>
<script type="text/html" id="toolbarDemo">
        <div class="demoTable"> </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="settlement">结算</a>
    <a class="layui-btn layui-btn-xs" lay-event="getholiday">休假</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script  type="text/javascript" src="../assets/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="../js/jquery.min.js" ></script>
<script type="text/javascript" src="../js/common.js" ></script>
<script type="text/javascript" src="../js/commons.js" ></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'slider'], function(){
        var table = layui.table;
        table.render({
            elem: '#employees'
            ,url:'/shy_war/app/employees/getEmployeesAll.action'
            ,toolbar: '#toolbarDemo'
            ,title: '员工列表'
            ,text:'无数据'
            ,totalRow: true
            ,defaultToolbar: ['filter','print','exports']
            ,id:'employees'
            ,cols: [[
                 {field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true, totalRowText: '合计'}
                ,{field:'ename', title:'员工名', width:100}
                ,{field:'position', title:'职位', width:80}
                ,{field:'ephone', title:'手机号', width:150, sort: true}
                ,{field:'age', title:'年龄', width:80, sort: true}
                ,{field:'sex', title:'性别', width:80}
                ,{field:'endaddress', title:'地址', width:180}
                ,{field:'wage', title:'工资', width:100, sort: true, totalRow: true}
                ,{field:'cdate', title:'结算时间',width:100}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:220}
            ]]
            ,done: function (res, curr, count) {
                $("[data-field='sex']").children().each(function(){
                    if($(this).text()=='0'){
                        $(this).text("男")
                    }else if($(this).text()=='1'){
                        $(this).text("女")
                    }
                });
            }
            ,page: true

        });
        table.on('tool(employees)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    table.reload('employees', {
                        url: '/shy_war/app/employees/deleteById.action'
                        ,where: {
                            id:data.id              //提交的信息
                        }
                        ,page:
                            {curr:1}
                    });
                    obj.del();
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                showModelWindowByData(layui.layer, 'addEmployees.html', '900px', '500px', '编辑', 'addEmployees', data);

            }
            else if(obj.event === 'settlement'){
                data.id="";
                showModelWindowByData(layui.layer, 'account.html', '900px', '500px', '结算工资', 'account', data);

            }else if(obj.event === 'getholiday'){
                showModelWindowByData(layui.layer, 'addholiday.html', '900px', '500px', '休假', 'addholiday', data);

            }
        });
        <!--按名字搜索表格-->
        $('#btn-search').on('click',function(){
            table.reload('employees', {
                url: '/shy_war/app/employees/getEmployeesByInf.action'//查询用户的接口
                ,where: {
                    ename : $('#ename').val() //提交的信息
                }
                ,page: {
                    curr: 1
                }
                ,text:'无数据'

            });

        });
        $('#add').on('click',function(){
            showModelWindow(layer, 'addEmployees.html', '900px', '500px', '添加', 'addEmployees');
        });

    });
</script>

</body>
</html>